*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.kotlin
/ktlint
/editorconfig-checker
/shellcheck
/*.tmp
/app/keystore.properties
/app/keystore
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
*export*.json
showly_export*.json
*.backup
